div.instructions {
    display: none;
    position: absolute;
    z-index: 3;
    text-align: center;
    border: 200px;
    width: 1000px;
    height: 500px;
    background: #FFF;
    color: #000;

}
.instructions p{
  color: #ff00ff;
}
